.highlightAnnotations {
  background-color: yellow;
}

.highlightAnnotations:hover {
  background-color: green;
}

.annotate {
  background-color: red;
}

.annotation {
  border-style: solid;
  border-width: 2px;
  width: 250px;
  height: 150px;
  background-color: lightyellow;
  position: absolute;
  overflow: scroll;
}