select {
  margin: 10px;
}

html, body{
  margin: 0px;
  min-width: 400px;
}

*{
  box-sizing: border-box;
}

*:focus{
  outline: none;
}

#mainPopup {
  padding: 10px;
  width: 320px;
  min-height: 100px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

.hidden {
  display: none;
}

.loading {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.loading-bar {
  display: inline-block;
  width: 2px;
  height: 16px;
  border-radius: 0px;
  animation: loading 1s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
  background-color: #eb5424;
  animation-delay: 0;
}

.loading-bar:nth-child(2) {
  background-color: #44c7f4;
  animation-delay: 0.09s;
}

.loading-bar:nth-child(3) {
  background-color: #16214d;
  animation-delay: .18s;
}

.loading-bar:nth-child(4) {
  background-color: #eaca2c;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}

.floater-profile {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

.user-info {
  position: relative;
  z-index: 1;
}

.floater-background {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background: #343434;
  opacity: 0.7;
}

.logout-button {
  margin-bottom: 15px !important;
}

.floater-profile * {
  color: #fff;
}

.nickname::before {
  content: '@'
}

#button{
  float: left
}

label {
    display: inline;
}